body {
    margin: 0;
}

.bg-index {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.calculator {
    top: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 350px;
    background: rgb(196, 155, 0);
    background: linear-gradient(90deg, rgb(196, 155, 0) 0%, rgb(255, 255, 255) 2%, rgb(255, 201, 0) 5%, rgb(255, 238, 32) 50%, rgba(255, 201, 0, 1) 95%, rgba(255, 255, 255, 1) 98%, rgba(196, 155, 0, 1) 100%);
    overflow: hidden;
    border-radius: 20px;
    z-index: 10;
    transform: translateX(-8px) translateY(8px);
    border-top: #cbcbcb 4px solid;
    border-left: #c49b00 4px solid;
    border-right: #c49b00 4px solid;
    border-bottom: #d9d9d9 4px solid;
    box-shadow: 20px 20px 50px 4px rgba(0, 0, 0, 0.75);
}

.calculator:after {
    position: absolute;
    content: '';
    width: 200px;
    height: 200px;
    border-radius: 50%;
    left: -90px;
    top: 230px;
    background: linear-gradient(225deg, #ff0c0c, #770000);
    box-shadow: -5px 5px 20px #370000,
    5px -5px 20px #370000;
    border-left: 2px solid #eaeaea;
    border-top: 2px solid #b8b8b8;
    border-right: 2px solid #919191;
    border-bottom: 2px solid #4a4a4a;
}

.calculator:before {
    position: absolute;
    content: '';
    width: 200px;
    height: 200px;
    background: linear-gradient(225deg, #ff0c0c, #770000);
    box-shadow: -5px 5px 20px #370000,
    5px -5px 20px #370000;
    border-radius: 50%;
    right: -90px;
    top: 230px;
    border-left: 2px solid #eaeaea;
    border-top: 2px solid #b8b8b8;
    border-right: 2px solid #919191;
    border-bottom: 2px solid #4a4a4a;
}

.top-calculator {
    display: flex;
    justify-content: center;
    height: 80px;
    width: 320px;
    z-index: 30;
}

.bottom-calculator {
    display: flex;
    margin-top: 25px;
    height: 350px;
    width: 320px;
    z-index: 30;
}

.screen-calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 310px;
    border-radius: 15px;
    border: 2px solid #e3e3e3;
    box-shadow: inset 0 0 18px 5px rgba(0, 0, 0, 0.75),
    inset 0 0 0 4px rgba(255, 255, 255, 1);
    background: rgb(255, 179, 0);
    background: linear-gradient(0deg, rgb(255, 201, 0) 0%, rgb(255, 254, 230) 50%, rgb(255, 238, 0) 100%);
}

.screen-result {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    width: 290px;
    color: #770000;
    overflow: hidden;
}

.screen-result p {
    font-weight: 400;
    font-size: 40px;
    font-family: Spartan, sans-serif;
    user-select: none;
    margin-top: 10px;
}

.segment-button-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 350px;
    width: 160px;
}

.segment-button-center, .segment-button-right {
    display: flex;
    justify-content: center;
    height: 350px;
    width: 80px;
}

.segment-button-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;
    width: 70px;
}

.segment-button-left .segment-button-inner {
    margin-left: 5px;
    margin-right: 5px;
    height: 280px;
}

.segment-button-0 {
    height: 70px;
    width: 150px;
    display: flex;
    align-items: center;
}

button {
    border-radius: 10px;
    background: rgb(139, 139, 139);
    background: linear-gradient(0deg, rgb(215, 168, 0) 0%, rgb(255, 219, 49) 22%, rgb(255, 227, 129) 100%);
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 2px -2px #3e3e3e, 2px -2px #3e3e3e, 2px -2px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 2px -2px #3e3e3e, -5px 5px 10px -4px rgba(0, 0, 0, 0.53);;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: Spartan, sans-serif;
    font-weight: 500;
    color: #7e0000;
    border: none;
    cursor: pointer;
    text-shadow: 0px 1px 3px white ;
}

button:focus {
    color: #ffffff;
    outline: none;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.45);
    border: none;
    transition: 0.3s ease-in;
}

.button-xl button {
    height: 60px;
    width: 150px;
}

.button-m button {
    height: 60px;
    width: 70px;
}

.button-l button {
    height: 130px;
    width: 70px;
}


.test {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 130px;
    background-color: #b8b8b8;
}

.inset-shadow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76px;
    width: 88px;
    box-shadow: inset 0px 0px 2px 1px #373737, 0px -1px 1px 1px #373737, 0px 1px 0px 2px #fff;
    border-radius: 15px;
}

.button-inset {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-top: 2px solid white;
    width: 88px;
    border-radius: 20px;
    background: rgb(85, 85, 85);
    background: linear-gradient(0deg, rgb(229, 229, 229) 0%, rgb(202, 202, 202) 20%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 80%, rgb(148, 148, 148) 100%);
    box-shadow: 0px -2px 4px 2px #1f1f1f;
}

.C {
    margin-top: 10px;
    font-family: Spartan, sans-serif;
    font-size: 40px;
    color: #343434;
    font-weight: 500;
    text-shadow: 0px 2px 1px #ffffff, 0px -1px 1px #373737;
}


